<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crumblr</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <div class="container">
      <nav class="navbar">
        <h1>
          <%= link_to 'Crumblr', '/'%> <small>// Home baked Goodness</small>
        </h1>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Manage Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </nav>
    <div class"row">
      <div class="col-md-8 offset-md-2">
        <%= yield %>
      </div>
    </div>
    </div>
  </body>

</html>
